@use '../../node_modules/sass-basis/src/css/core';

.smmp-extension-panel {
	$color-accent: #cd162c !default;

  .components-panel__icon {
    fill: var(--_light-color-gray);
  }

  &--enabled .components-panel__icon {
    fill: $color-accent;
  }
}
