@import 'core/core';

.smmp-login-form {
  label {
    b {
      font-size: 90%;
      display: block;
      margin-bottom: 3px;
    }
  }

  .c-btn {
    font-size: 90%;
  }

  &__nav {
    list-style: none;
    margin: 0;
    font-size: 80%;
    padding: 0;

    &__item {
      margin: 0;
      padding: 0;

      @include _media-min(lg) {
        display: inline-block;
        line-height: 1;

        &:not(:last-child) {
          border-right: 1px solid transparent;
          border-right-color: _lighter($_color-gray); // For IE11
          border-right-color: _var-lighter-color-gray();
          padding-right: 1em;
        }

        &:not(:first-child) {
          padding-left: 1em;
        }
      }
    }
  }
}

.smmp-alert {
  background-color: $alert-color;
  border: 1px solid darken($alert-color, 5%);
  color: darken(desaturate($alert-color, 60%), 70%);
  @include _padding(1);

  &--success {
    background-color: adjust-hue($alert-color, 40deg);
    border: 1px solid adjust-hue(darken($alert-color, 10%), 40deg);
    color: adjust-hue(darken(desaturate($alert-color, 70%), 80%), 40deg);
  }

  &--warning {
    background-color: adjust-hue($alert-color, -30deg);
    border: 1px solid adjust-hue(darken($alert-color, 5%), -30deg);
    color: adjust-hue(darken(desaturate($alert-color, 60%), 70%), -30deg);
  }
}
